body {
  background: rgb(3,45,71);
  background: radial-gradient(circle, rgba(3,45,71,1) 0%, rgba(5,36,56,1) 33%, rgba(2,18,28,1) 100%);
}

#Start {
  background-color: #2476f1;
  color: rgb(255, 255, 255);
  border-radius: 700px;
  width: 50vmin;
  height: 10vmin;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: bangers;
  font-size: 7vmin;
  -webkit-text-stroke: 0.3vmin rgb(0, 0, 0);
}
#Start:hover {
  background-color: #013e99;
}
#canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
canvas {
  width: 60%;
  height: 75%;
  background-color: #1a374d;
}

.leftBox {
  position: absolute;
  height: 100%;
  width: 19.5%;
  left: 0;
  background-color: #315169be;
  display: flex;
  flex-direction: column; /* Set the direction to vertical */
  align-items: center; /* Align items to the center horizontally */
  
}

.banger {
  text-align: center;
  font-family: bangers;
  font-size: 2.6vmin;
  line-height: 0.3;
  -webkit-text-stroke: 0.7px rgb(255, 255, 255);
}
#jumperGame {
  margin-top: 45;
}

.menu {
  background-color: #2476f1;
  font-family: bangers;
  font-size: 2vmin;
  -webkit-text-stroke: 0.1vmin rgb(0, 0, 0);
  color: white;
  padding: 1vmin 2vmin;
  border-radius: 50vmin;
  width: 14vmin;
  margin-bottom: 0.8vmin; /* Add spacing between buttons */
}

.menu:hover {
  background-color: #002b6b;
}

.controls{
  font-family: bangers;
  font-size: 2.5vmin;
  padding: 1vmin;
  text-align: center;
  letter-spacing: 0.1vmin;
  line-height: 1.2;
}


.rightBox {
  position: absolute;
  height: 100%;
  width: 19.5%;
  right: 0;
  background-color: #315169be;
  display: flex;
  flex-direction: column; /* Set the direction to vertical */
  align-items: center; /* Align items to the center horizontally */
}

#speed {
  display: flex;
  flex-direction: row; /* Set the direction to horizontal */
  align-items: center; /* Align items to the center horizontally */
}
.speedBtn {
  background-color: #2476f1;
  font-size: 2vmin;
  height: 5vmin;
  width: 5vmin;
  color: white;
  padding: 1vmin 1.5vmin;
  border-radius: 50vmin;
}
.speedBtn:hover {
  background-color: #002b6b;
}

#recSpeed {
  background-color: #2476f1;
  font-size: 2vmin;
  font-family: bangers;
  color: white;
  padding: 1vmin 1.8vmin;
  border-radius: 5vmin;
}
#hard {
  margin-bottom: -1vmin;
}


#resetSpeed {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

#speedInfo{
  font-family: bangers;
  font-size: 2.5vmin;
  margin-bottom: 1vmin;
  margin-top: 2vmin;
}

#difficulty{
  margin-bottom: 0.1vmin;
  font-family: bangers;
  font-size: 2.5vmin;
  padding: 1vmin;
  text-align: center;
  letter-spacing: 0.1vmin;
  
}

#diffInfo{
  text-align: center;
  font-family: bangers;
  font-size: 2.5vmin;
  line-height: 1.3;
}
 #music,#effect{
  background-color: #2476f1;
  font-size: 2vmin;
  color: white;
  -webkit-text-stroke: 0.08vmin rgb(0, 0, 0);
  padding: 1vmin 1.8vmin;
  border-radius: 5vmin;
 }

 #music:hover,#effect:hover{
  background-color: #002b6b;
 }

 #music{
  margin-right: 0.8vmin;
 }

 #effect{
  margin-left: 0.8vmin;
 }

 #sound-control{
  
 }
 


